body {
   background-color: #c1c6b2;
}

.textLinks .beschreibungstext {
   text-align: left !important;
   margin-left: 50px !important;
}

/* --- Styles für menue.php --- */
nav.bg-white {
   background-color: #4d7364 !important;
}

nav.dark\:bg-gray-900 {
   background-color: #4d7364 !important;
}

nav a {
   color: white !important;
}

nav a:hover {
   color: #ccc !important;
}

#navbar-dropdown ul {
   background-color: #4d7364 !important;
}

#navbar-dropdown ul.dark\:bg-gray-800 {
   background-color: #4d7364 !important;
}

#navbar-dropdown ul.md\:dark\:bg-gray-900 {
   background-color: #4d7364 !important;
}

#dropdownNavbarLink {
   color: white !important;
}

#dropdownNavbarLink:hover {
   color: #ccc !important;
}

/* --- Styles für index.php --- */
.startseiteLogo {
   width: 300px;
   height: auto;
   border-radius: 16px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
}

.titelStartseite {
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   color: #4d7364;
   margin-top: 20px;
}

.beschreibungstext {
   text-align: center;
   font-size: 20px;
   color: #4d7364;
   margin-top: 20px;
   font-weight: 600;
   margin-left: 50px;
   margin-right: 50px;
}

/* --- Styles für Produkte (produkte.php, teearten.php, teezubehoer.php, sonstiges.php --- */
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

.container img {
   width: 300px;
   margin: 20px;
   border-radius: 8px;
}

.container p {
   font-size: 18px;
}

/* --- Styles für footer.php --- */
footer {
   background-color: #f3f4f6e1;
   text-align: center;
   padding: 20px;
   margin-top: 20px;
}

/* --- Styles für Tabelle aus produkte.php --- */
table {
   width: 100%;
   border-collapse: collapse;
}

th,
td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
   border-color: #4d7364;
   border: 1px solid #4d7364;
}

th {
   background-color: #4d7364;
   color: white;
}

td {
   background-color: #4d736469;
}